.listDishes {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(4, 5rem);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-auto-flow: row;
  margin-top: 5rem;
}
.listDishes li {
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-auto-flow: column;
  background-color: #e5e7d8ff;
  transform: skew(-9deg);
  height: 5rem;
  align-items: center;
  font-size: 1rem;
  color: #4b2428ff;
  font-weight: bold;
  font-style: italic;
}
.listDishes li:nth-child(2n) {
  background-color: rgb(159, 198, 230);
  color: #14481aff;
}
.price {
  width: 3.3rem;
  margin: 0 auto;
  background-color: rgb(255, 191, 124);
  transform: skew(-9deg);
  border: none;
}